<footer id="sticky-footer" class="py-4 bg-dark text-white">
    <div class="container text-center">
        <small>Copyright &copy; <%= link_to "Diptiman Pati", "https://www.linkedin.com/in/diptiman-pati-938b7718b", class:"text-white" %>  </small>
    </div>
</footer>